//Colors
$star-yellow: #ffd43b;
$white: #fff;
$black: #0f1c2e;
$btn-primary: #0087ff;
$btn-secondary: #d34247;
$bodyBgBlue: #2a4c82;
$bodyBgRed: #b42b29;
$cardBg: rgba(255, 255, 255, 0.1);
$cardBgHover: rgba(255, 255, 255, 0.5);
$grey:#A7A7A7;

// Variables
$cursor: pointer;
$borderRadius: 0.5rem;
$borderColor: 1px solid rgba(255, 255, 255, 0.1);
